@font-face {
  font-family: "SLEIGothicTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EliceDigitalBaeum_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EliceDigitalBaeum_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding-top: 130px;
  width: 100%;
  font-family: "SLEIGothicTTF", "EliceDigitalBaeum_Regular",
    "EliceDigitalBaeum_Bold";
}
#wrap {
  max-width: 86.8%;
  margin: auto;
}

/* info section start */
h1 {
  font-size: 2.9rem;
  margin-bottom: 80px;
}
h2 {
  font-family: "EliceDigitalBaeum_Bold";
  font-size: 1rem;
}
#info {
  display: flex;
  margin-bottom: 73px;
}
.info_title {
  margin-right: 74px;
}
.info_inner {
  display: flex;
}
.info_list1 {
  font-family: "EliceDigitalBaeum_Regular";
  font-size: 1rem;
  color: #999;
  margin-right: 25px;
}
.info_list2 {
  font-family: "EliceDigitalBaeum_Regular";
  font-size: 1rem;
}
.ace_link3,
.ace_link33 {
  cursor: pointer;
}

/* screen section start */
.scr_title {
  margin-bottom: 100px;
}
.scr_art1 {
  width: 85%;
  height: 100%;
  margin: auto;
}
.tabmob_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.scr_main {
  width: 100%;
}
.scr_frame {
  width: 55%;
}
.scr_dang {
  width: 40%;
}
.scr img {
  width: 100%;
  box-shadow: 0 0 20px rgb(200, 200, 200);
  margin-bottom: 111px;
}
/* scr_art2 */
.scr_tab2 {
  width: 31%;
}
.scr_mob2 {
  width: 31%;
}
.scr_mob3 {
  width: 31%;
}
